# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# custom
/data
.vscode
.idea
*.pkl
*.pkl.json
*.log.json
benchlist.txt
work_dirs/

# Pytorch
*.pth

# Profile
*.prof

# lmdb
*.mdb

# unignore some data file in tests/data
!tests/data/**/*.pkl
!tests/data/**/*.pkl.json
!tests/data/**/*.log.json
!tests/data/**/*.pth

# avoid soft links created by MIM
mmaction/configs/*
mmaction/tools/*

*.ipynb

# unignore ipython notebook files in demo
!demo/*.ipynb
mmaction/.mim
demo/demo_out.mp4
demo/skeleton_demo.mp4
demo/samples/final_falls.mp4
tmp/test_video_structuralize/img_000001.jpg
tmp/test_video_structuralize/img_000002.jpg
tmp/test_video_structuralize/img_000003.jpg
tmp/test_video_structuralize/img_000004.jpg
tmp/test_video_structuralize/img_000005.jpg
tmp/test_video_structuralize/img_000006.jpg
tmp/test_video_structuralize/img_000007.jpg
tmp/test_video_structuralize/img_000008.jpg
tmp/test_video_structuralize/img_000009.jpg
tmp/test_video_structuralize/img_000010.jpg
tmp/test_video_structuralize/img_000011.jpg
tmp/test_video_structuralize/img_000012.jpg
tmp/test_video_structuralize/img_000013.jpg
tmp/test_video_structuralize/img_000014.jpg
tmp/test_video_structuralize/img_000015.jpg
tmp/test_video_structuralize/img_000016.jpg
tmp/test_video_structuralize/img_000017.jpg
tmp/test_video_structuralize/img_000018.jpg
tmp/test_video_structuralize/img_000019.jpg
tmp/test_video_structuralize/img_000020.jpg
tmp/test_video_structuralize/img_000021.jpg
tmp/test_video_structuralize/img_000022.jpg
tmp/test_video_structuralize/img_000023.jpg
tmp/test_video_structuralize/img_000024.jpg
tmp/test_video_structuralize/img_000025.jpg
tmp/test_video_structuralize/img_000026.jpg
tmp/test_video_structuralize/img_000027.jpg
tmp/test_video_structuralize/img_000028.jpg
tmp/test_video_structuralize/img_000029.jpg
tmp/test_video_structuralize/img_000030.jpg
tmp/test_video_structuralize/img_000031.jpg
tmp/test_video_structuralize/img_000032.jpg
tmp/test_video_structuralize/img_000033.jpg
tmp/test_video_structuralize/img_000034.jpg
tmp/test_video_structuralize/img_000035.jpg
tmp/test_video_structuralize/img_000036.jpg
tmp/test_video_structuralize/img_000037.jpg
tmp/test_video_structuralize/img_000038.jpg
tmp/test_video_structuralize/img_000039.jpg
tmp/test_video_structuralize/img_000040.jpg
tmp/test_video_structuralize/img_000041.jpg
tmp/test_video_structuralize/img_000042.jpg
tmp/test_video_structuralize/img_000043.jpg
tmp/test_video_structuralize/img_000044.jpg
tmp/test_video_structuralize/img_000045.jpg
tmp/test_video_structuralize/img_000046.jpg
tmp/test_video_structuralize/img_000047.jpg
tmp/test_video_structuralize/img_000048.jpg
tmp/test_video_structuralize/img_000049.jpg
tmp/test_video_structuralize/img_000050.jpg
tmp/test_video_structuralize/img_000051.jpg
tmp/test_video_structuralize/img_000052.jpg
tmp/test_video_structuralize/img_000053.jpg
tmp/test_video_structuralize/img_000054.jpg
tmp/test_video_structuralize/img_000055.jpg
tmp/test_video_structuralize/img_000056.jpg
tmp/test_video_structuralize/img_000057.jpg
tmp/test_video_structuralize/img_000058.jpg
tmp/test_video_structuralize/img_000059.jpg
tmp/test_video_structuralize/img_000060.jpg
tmp/test_video_structuralize/img_000061.jpg
tmp/test_video_structuralize/img_000062.jpg
tmp/test_video_structuralize/img_000063.jpg
tmp/test_video_structuralize/img_000064.jpg
tmp/test_video_structuralize/img_000065.jpg
tmp/test_video_structuralize/img_000066.jpg
tmp/test_video_structuralize/img_000067.jpg
tmp/test_video_structuralize/img_000068.jpg
tmp/test_video_structuralize/img_000069.jpg
tmp/test_video_structuralize/img_000070.jpg
tmp/test_video_structuralize/img_000071.jpg
tmp/test_video_structuralize/img_000072.jpg
tmp/test_video_structuralize/img_000073.jpg
tmp/test_video_structuralize/img_000074.jpg
tmp/test_video_structuralize/img_000075.jpg
tmp/test_video_structuralize/img_000076.jpg
tmp/test_video_structuralize/img_000077.jpg
tmp/test_video_structuralize/img_000078.jpg
tmp/test_video_structuralize/img_000079.jpg
tmp/test_video_structuralize/img_000080.jpg
tmp/test_video_structuralize/img_000081.jpg
tmp/test_video_structuralize/img_000082.jpg
tmp/test_video_structuralize/img_000083.jpg
tmp/test_video_structuralize/img_000084.jpg
tmp/test_video_structuralize/img_000085.jpg
tmp/test_video_structuralize/img_000086.jpg
tmp/test_video_structuralize/img_000087.jpg
tmp/test_video_structuralize/img_000088.jpg
tmp/test_video_structuralize/img_000089.jpg
tmp/test_video_structuralize/img_000090.jpg
tmp/test_video_structuralize/img_000091.jpg
tmp/test_video_structuralize/img_000092.jpg
tmp/test_video_structuralize/img_000093.jpg
tmp/test_video_structuralize/img_000094.jpg
tmp/test_video_structuralize/img_000095.jpg
tmp/test_video_structuralize/img_000096.jpg
tmp/test_video_structuralize/img_000097.jpg
tmp/test_video_structuralize/img_000098.jpg
tmp/test_video_structuralize/img_000099.jpg
tmp/test_video_structuralize/img_000100.jpg
tmp/test_video_structuralize/img_000101.jpg
tmp/test_video_structuralize/img_000102.jpg
tmp/test_video_structuralize/img_000103.jpg
tmp/test_video_structuralize/img_000104.jpg
tmp/test_video_structuralize/img_000105.jpg
tmp/test_video_structuralize/img_000106.jpg
tmp/test_video_structuralize/img_000107.jpg
tmp/test_video_structuralize/img_000108.jpg
tmp/test_video_structuralize/img_000109.jpg
tmp/test_video_structuralize/img_000110.jpg
tmp/test_video_structuralize/img_000111.jpg
tmp/test_video_structuralize/img_000112.jpg
tmp/test_video_structuralize/img_000113.jpg
tmp/test_video_structuralize/img_000114.jpg
tmp/test_video_structuralize/img_000115.jpg
tmp/test_video_structuralize/img_000116.jpg
tmp/test_video_structuralize/img_000117.jpg
tmp/test_video_structuralize/img_000118.jpg
tmp/test_video_structuralize/img_000119.jpg
tmp/test_video_structuralize/img_000120.jpg
tmp/test_video_structuralize/img_000121.jpg
tmp/test_video_structuralize/img_000122.jpg
tmp/test_video_structuralize/img_000123.jpg
tmp/test_video_structuralize/img_000124.jpg
tmp/test_video_structuralize/img_000125.jpg
tmp/test_video_structuralize/img_000126.jpg
tmp/test_video_structuralize/img_000127.jpg
tmp/test_video_structuralize/img_000128.jpg
tmp/test_video_structuralize/img_000129.jpg
tmp/test_video_structuralize/img_000130.jpg
tmp/test_video_structuralize/img_000131.jpg
tmp/test_video_structuralize/img_000132.jpg
tmp/test_video_structuralize/img_000133.jpg
tmp/test_video_structuralize/img_000134.jpg
tmp/test_video_structuralize/img_000135.jpg
tmp/test_video_structuralize/img_000136.jpg
tmp/test_video_structuralize/img_000137.jpg
tmp/test_video_structuralize/img_000138.jpg
tmp/test_video_structuralize/img_000139.jpg
tmp/test_video_structuralize/img_000140.jpg
tmp/test_video_structuralize/img_000141.jpg
tmp/test_video_structuralize/img_000142.jpg
tmp/test_video_structuralize/img_000143.jpg
tmp/test_video_structuralize/img_000144.jpg
tmp/test_video_structuralize/img_000145.jpg
tmp/test_video_structuralize/img_000146.jpg
tmp/test_video_structuralize/img_000147.jpg
tmp/test_video_structuralize/img_000148.jpg
tmp/test_video_structuralize/img_000149.jpg
tmp/test_video_structuralize/img_000150.jpg
tmp/test_video_structuralize/img_000151.jpg
tmp/test_video_structuralize/img_000152.jpg
tmp/test_video_structuralize/img_000153.jpg
tmp/test_video_structuralize/img_000154.jpg
tmp/test_video_structuralize/img_000155.jpg
tmp/test_video_structuralize/img_000156.jpg
tmp/test_video_structuralize/img_000157.jpg
tmp/test_video_structuralize/img_000158.jpg
tmp/test_video_structuralize/img_000159.jpg
tmp/test_video_structuralize/img_000160.jpg
tmp/test_video_structuralize/img_000161.jpg
tmp/test_video_structuralize/img_000162.jpg
tmp/test_video_structuralize/img_000163.jpg
tmp/test_video_structuralize/img_000164.jpg
tmp/test_video_structuralize/img_000165.jpg
tmp/test_video_structuralize/img_000166.jpg
tmp/test_video_structuralize/img_000167.jpg
tmp/test_video_structuralize/img_000168.jpg
tmp/test_video_structuralize/img_000169.jpg
tmp/test_video_structuralize/img_000170.jpg
tmp/test_video_structuralize/img_000171.jpg
tmp/test_video_structuralize/img_000172.jpg
tmp/test_video_structuralize/img_000173.jpg
tmp/test_video_structuralize/img_000174.jpg
tmp/test_video_structuralize/img_000175.jpg
tmp/test_video_structuralize/img_000176.jpg
tmp/test_video_structuralize/img_000177.jpg
tmp/test_video_structuralize/img_000178.jpg
tmp/test_video_structuralize/img_000179.jpg
tmp/test_video_structuralize/img_000180.jpg
tmp/test_video_structuralize/img_000181.jpg
tmp/test_video_structuralize/img_000182.jpg
tmp/test_video_structuralize/img_000183.jpg
tmp/test_video_structuralize/img_000184.jpg
tmp/test_video_structuralize/img_000185.jpg
tmp/test_video_structuralize/img_000186.jpg
tmp/test_video_structuralize/img_000187.jpg
tmp/test_video_structuralize/img_000188.jpg
tmp/test_video_structuralize/img_000189.jpg
tmp/test_video_structuralize/img_000190.jpg
tmp/test_video_structuralize/img_000191.jpg
tmp/test_video_structuralize/img_000192.jpg
tmp/test_video_structuralize/img_000193.jpg
tmp/test_video_structuralize/img_000194.jpg
tmp/test_video_structuralize/img_000195.jpg
tmp/test_video_structuralize/img_000196.jpg
tmp/test_video_structuralize/img_000197.jpg
tmp/test_video_structuralize/img_000198.jpg
tmp/test_video_structuralize/img_000199.jpg
tmp/test_video_structuralize/img_000200.jpg
tmp/test_video_structuralize/img_000201.jpg
tmp/test_video_structuralize/img_000202.jpg
tmp/test_video_structuralize/img_000203.jpg
tmp/test_video_structuralize/img_000204.jpg
tmp/test_video_structuralize/img_000205.jpg
tmp/test_video_structuralize/img_000206.jpg
tmp/test_video_structuralize/img_000207.jpg
tmp/test_video_structuralize/img_000208.jpg
tmp/test_video_structuralize/img_000209.jpg
tmp/test_video_structuralize/img_000210.jpg
tmp/test_video_structuralize/img_000211.jpg
tmp/test_video_structuralize/img_000212.jpg
tmp/test_video_structuralize/img_000213.jpg
tmp/test_video_structuralize/img_000214.jpg
tmp/test_video_structuralize/img_000215.jpg
tmp/test_video_structuralize/img_000216.jpg
tmp/test_video_structuralize/img_000217.jpg
tmp/test_video_structuralize/img_000218.jpg
tmp/test_video_structuralize/img_000219.jpg
tmp/test_video_structuralize/img_000220.jpg
tmp/test_video_structuralize/img_000221.jpg
tmp/test_video_structuralize/img_000222.jpg
tmp/test_video_structuralize/img_000223.jpg
tmp/test_video_structuralize/img_000224.jpg
tmp/test_video_structuralize/img_000225.jpg
tmp/test_video_structuralize/img_000226.jpg
tmp/test_video_structuralize/img_000227.jpg
tmp/test_video_structuralize/img_000228.jpg
tmp/test_video_structuralize/img_000229.jpg
tmp/test_video_structuralize/img_000230.jpg
tmp/test_video_structuralize/img_000231.jpg
tmp/test_video_structuralize/img_000232.jpg
tmp/test_video_structuralize/img_000233.jpg
tmp/test_video_structuralize/img_000234.jpg
tmp/test_video_structuralize/img_000235.jpg
tmp/test_video_structuralize/img_000236.jpg
tmp/test_video_structuralize/img_000237.jpg
tmp/test_video_structuralize/img_000238.jpg
tmp/test_video_structuralize/img_000239.jpg
tmp/test_video_structuralize/img_000240.jpg
tmp/test_video_structuralize/img_000241.jpg
tmp/test_video_structuralize/img_000242.jpg
tmp/test_video_structuralize/img_000243.jpg
tmp/test_video_structuralize/img_000244.jpg
tmp/test_video_structuralize/img_000245.jpg
tmp/test_video_structuralize/img_000246.jpg
tmp/test_video_structuralize/img_000247.jpg
tmp/test_video_structuralize/img_000248.jpg
tmp/test_video_structuralize/img_000249.jpg
tmp/test_video_structuralize/img_000250.jpg
tmp/test_video_structuralize/img_000251.jpg
tmp/test_video_structuralize/img_000252.jpg
tmp/test_video_structuralize/img_000253.jpg
tmp/test_video_structuralize/img_000254.jpg
tmp/test_video_structuralize/img_000255.jpg
tmp/test_video_structuralize/img_000256.jpg
tmp/test_video_structuralize/img_000257.jpg
tmp/test_video_structuralize/img_000258.jpg
tmp/test_video_structuralize/img_000259.jpg
tmp/test_video_structuralize/img_000260.jpg
tmp/test_video_structuralize/img_000261.jpg
tmp/test_video_structuralize/img_000262.jpg
tmp/test_video_structuralize/img_000263.jpg
tmp/test_video_structuralize/img_000264.jpg
tmp/test_video_structuralize/img_000265.jpg
tmp/test_video_structuralize/img_000266.jpg
tmp/test_video_structuralize/img_000267.jpg
tmp/test_video_structuralize/img_000268.jpg
tmp/test_video_structuralize/img_000269.jpg
tmp/test_video_structuralize/img_000270.jpg
tmp/test_video_structuralize/img_000271.jpg
tmp/test_video_structuralize/img_000272.jpg
tmp/test_video_structuralize/img_000273.jpg
tmp/test_video_structuralize/img_000274.jpg
tmp/test_video_structuralize/img_000275.jpg
tmp/test_video_structuralize/img_000276.jpg
tmp/test_video_structuralize/img_000277.jpg
tmp/test_video_structuralize/img_000278.jpg
tmp/test_video_structuralize/img_000279.jpg
tmp/test_video_structuralize/img_000280.jpg
tmp/test_video_structuralize/img_000281.jpg
tmp/test_video_structuralize/img_000282.jpg
tmp/test_video_structuralize/img_000283.jpg
tmp/test_video_structuralize/img_000284.jpg
tmp/test_video_structuralize/img_000285.jpg
tmp/test_video_structuralize/img_000286.jpg
tmp/test_video_structuralize/img_000287.jpg
tmp/test_video_structuralize/img_000288.jpg
tmp/test_video_structuralize/img_000289.jpg
tmp/test_video_structuralize/img_000290.jpg
tmp/test_video_structuralize/img_000291.jpg
tmp/test_video_structuralize/img_000292.jpg
tmp/test_video_structuralize/img_000293.jpg
tmp/test_video_structuralize/img_000294.jpg
tmp/test_video_structuralize/img_000295.jpg
tmp/test_video_structuralize/img_000296.jpg
tmp/test_video_structuralize/img_000297.jpg
tmp/test_video_structuralize/img_000298.jpg
tmp/test_video_structuralize/img_000299.jpg
tmp/test_video_structuralize/img_000300.jpg
demo/demo_out.mp4
